/* Applying the dark mode color */
body {
    background-color: #141414;
}

/* Turning all text white and the proper font */
* {
    color: white;
    font-family: 'Bebas Neue' sans-serif;
}

/* Making the buttons the right color. 
For some reason :last-child works on the second one but :first-child doesn't on the first one.*/

button:first-of-type {
    background-color: #E50914;
}

button:last-of-type {
    background-color: black;
    border: 2px solid white;
}

/* Making the images the right size */

img {
    height: 300px;
    width: 400px;
}

/* Making all the rows of images flexboxes and giving them margins.*/

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 100px;
}

/* Putting space between the movies description and the pictures/rows. */

nav~p{
    margin-bottom: 50px;
}

/* Setting up the nav bar */

nav{
    display: flex;
    background-color: black;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.navMenu {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Making the logo the right-ish size. */

nav img{
    height: 8%;
    width: 8%;
}

img:hover{
    transform: scale(1.1);
    transition: transform .3s;
}